@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

* {
	font-family: 'Comfortaa', sans-serif;
}

nav a {
	text-decoration: none;
	color: #1e00f2;
	margin-right: 2%;
}

nav a:hover {
	color: #8478d5;
	background: #fff;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

.wrap {
	width: 1440px;
	margin: 0 auto;
}

.container {
	width: 80%;
	float: left;
}

aside {
	width: 15%;
	float: left;
	background: #8478d50f;
	padding: 25px;
	margin-right: 20px;
}

aside input {
	padding: 8px;
	margin-top: 10px;
}

footer {
	clear: both;
	text-align: center;
	height: 50px;
	padding: 25px;
}